<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="about" content="width=device-width, initial-scale=1">
	<title>
		about
	</title>
</head>
<h1 style="font-size:35px bold; text-align: center; background: lightcyan;">About</h1>
	<body>
	<p style="font-size:19px ">
		The Covid-19 pandemic is the most crucial health disaster that has surrounded the world for the past year. Predicting the COVID-19 vaccination trend has become a challenging issue. Many health professionals, statisticians, researchers, and programmers have been tracking the spread of the virus in different regions of the world using various approaches. The rise in various vaccines developed by talented scientists spurred curiosity about learning more about ongoing vaccine programs and a keen interest in finding meaningful insights from data drove me to work on this particular endeavor.
		<p style="font-size:19px">
			The COVID-19 pandemic, which first spread to the People of Republic of China and then to other
countries in a short time, affected the whole world by infecting millions of people and have been
increasing its impact day by day. Hundreds of researchers in many countries are in search of a
solution to end up this pandemic.
		</p>
		<p style="font-size:19px">
			 This study aims to contribute to the literature by performing
detailed analyses via a new three-staged framework constructed based on data envelopment analysis
and machine learning algorithms to assess the performances of 142 countries against the COVID19 outbreak. Particularly, clustering analyses were made using k-means and hierarchic clustering
methods. Subsequently, efficiency analysis of countries were performed by a novel model, the weighted
stochastic imprecise data envelopment analysis.
		</p>
		<p style="font-size:19px">
			Finally, parameters were analyzed with decision tree
and random forest algorithms. Results have been analyzed in detail, and the classification of countries
are determined by providing the most influential parameters. The analysis showed that the optimum
number of clusters for 142 countries is three. In addition, while 20 countries out of 142 countries were
fully effective, 36% of them were found to be effective at a rate of 90%. Finally, it has been observed that
the data such as GDP, smoking rates, and the rate of diabetes patients do not affect the effectiveness
level of the countries.

		</p>
	</p>
	<div class="watermark">
<footer>
			<p>Created by group id-14. © 2022</p>
		</footer>
		</div>
</body>
<style>
	.watermark {
	margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
</html>