<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="measures" content="width=device-width, initial-scale=1">
	<title>Measures |COVID-19|
</title>
</head>
<h1 style="font-size:35px bold; text-align: center; background: lightcyan;">HOW TO PROTECT YOURSELF AND OTHERS |COVID-19|</h1>
	<body>
 
<h2 style="color: grey;">Get a COVID-19 vaccine</h2>
 
<p> •COVID-19 vaccines are effective at keeping you from getting COVID-19,
especially severe illness and death.<br>
• Vaccines are safe, effective, and free!</p>
 
<h2 style="color: grey;">Wear a mask</h2>
 
<p>In indoor public places, people ages 2 and older should wear a mask
if they are:<br>
• Not fully vaccinated<br>
• Fully vaccinated in an area with substantial or high transmission<br>
• Fully vaccinated with weakened immune systems<br>
In general, in outdoor settings, you do not need to wear a mask.
In areas with high numbers of COVID-19 cases, consider wearing a mask
in crowded outdoor settings and for activities with close contact with
others who are not fully vaccinated.</p>
 
<h2 style="color: grey;">Stay 6 feet from others</h2>
 
<p>Stay 6 feet apart from people who don’t live in your household.
Remember that some people without symptoms may be able to
spread the virus.<br>
Keeping distance from others is especially important for people
who are at higher risk of getting very sick.</p>
 
<h2 style="color: grey;">Avoid crowds and poorly ventilated places</h2>
 
<p>Being in crowds like in restaurants, bars, fitness centers, or movie theaters
puts you at higher risk for COVID-19.<br>
Avoid indoor spaces that do not offer fresh air from the outdoors as much
as possible.<br>
If indoors, bring in fresh air by opening windows and doors, if possible.</p>

<h2 style="color: grey;">Test to prevent spread to others</h2>

<p>• Over-the-counter self-tests can be used at home or anywhere, are easy to use,
and produce rapid results.<br>
• Consider using a self-test before joining indoor gatherings with others who are
not in your household.</p>

<h2 style="color: grey;">Wash your hands often</h2>

<p>Wash your hands often with soap and water, especially after you have been
in a public place.<br>
If soap and water are not available, use a hand sanitizer that contains at
least 60% alcohol.<br>
Avoid touching your eyes, nose, and mouth with unwashed hands.</p>

<h2 style="color: grey;">Cover coughs and sneezes</h2>

<p>Always cover your mouth and nose with a tissue when you cough or sneeze
or use the inside of your elbow. Do not spit.<br>
Throw used tissues in the trash.<br>
Immediately wash your hands with soap and water or use hand sanitizer
that contains at least 60% alcohol.</p>

<h2 style="color: grey;">Clean and disinfect</h2>

<p>Clean high touch surfaces daily.<br>
If someone is sick or has tested positive for COVID-19, disinfect frequently
touched surfaces.<br>
If surfaces are dirty, clean them using detergent or soap and water prior
to disinfection.</p>

<h2 style="color: grey;">Monitor your health daily</h2>

<p>Be alert for symptoms.<br>
Watch for fever, cough, shortness of breath, or other symptoms of COVID-19.
Take your temperature if symptoms develop.<br>
If you have symptoms, especially if you’ve been around someone
with COVID-19, get tested as soon as possible.</p>

<body>
	<footer>
			<p style="text-align: center;">Created by group id-14. © 2022</p>
		</footer>
</body>
</html>